.sidebar.ul {
    margin-left: 3rem !important;
}

.sidebar li {
    padding: 20px;
}

.icon_bottom {
    display: flex;
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

body {
    background-color: #F4F4F4 !important;
}

.MuiDrawer-paperAnchorLeft {
    margin-top: 65px !important;
}

.addpost {
    margin-bottom: 1.5rem;
}

.postIcon {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history_image {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid;
    padding: 2px;
}

.history_bx_main {
    margin-bottom: 1rem;
}

.history_bx {
    width: 170px;
}

.history_bx figure {
    margin-bottom: 0;
}

.history_bx_main figcaption {
    text-align: center;
}

.camera-icon {
    cursor: pointer;
}

.MuiDrawer-paperAnchorLeft {
    background-color: #F4F4F4 !important;
}

.slick-prev {
    left: -15px !important;
}

.slick-next {
    right: -15px !important;
}

.slick-prev,
.slick-next {
    width: 30px !important;
    height: 30px !important;
    background-color: rgb(122, 122, 220) !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px !important;
}

.slick-list {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.history_bx_main {
    max-width: 845px;
}

.sidebar-suggestion {
    position: fixed;
    top: 100px;
    right: 90px;
    width: 20%;
    padding-left: 25px;
}

.sidebar__user {
    display: flex;
    align-items: center;
}

.sidebar__user-avator {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--white);
    background: #f83a63;
    border-radius: 50%;
    text-transform: uppercase;
}

.sidebar__user-name {
    padding-left: 10px;
    text-transform: capitalize;
}

.sidebar__list {
    margin: 20px 0;
}

.sidebar__list h3 {
    font-size: 15px;
    font-weight: 400;
    color: silver;
}

.sidebar__list-user {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.sidebar__list-a {
    flex: 1;
    display: flex;
    align-items: center;
}

.sidebar__list-a-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar__list-a-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar__list-a-name {
    margin-left: 8px;
    font-size: 14px;
}

.sidebar__list-b {
    flex: 1;
    text-align: right;
}

.sidebar__list-b a {
    text-decoration: none;
    color: #098bbe;
    font-size: 14px;
}

.sidebar a {
    width: 100%;
    text-decoration: none;
}

.width-section {
    max-width: 65%;
}

.search-input {
    width: 30%;
}

.history_image:hover {
    scale: 1.1;
    transition: ease 1s;
    cursor: pointer;
}

@media (max-width:768px) {

    .history_bx_main {
        display: none;
    }

    .search-input {
        display: none !important;
    }

    .MuiDrawer-paperAnchorLeft {
        margin-top: inherit !important;
    }
}

@media (max-width:991px) {
    .sidebar-suggestion {
        display: none;
    }

    .width-section {
        max-width: 100%;
    }

}